body {
    background-color: wheat;
}

.menu {
    background-color: lightblue;
    height: 30px;
    width: 100%;

    position: sticky;
    top: 0px;
    

}

.menu ul{
    list-style-type: none;
    display: flex;

    justify-content: space-evenly;
}


a {
    text-decoration: none;
    font-size: x-large;
}

